/build/
/.idea/
/build-msvc/
/build-config-msvc/
/cmake-build-*/
/out/
/CMakeUserPresets.json
/config/generated/
/erlang/_build/
/erlang/ebin/
/erlang/bin/gamebattle_config_compiler
/erlang/bin/gamebattle_config_compiler.exe
/erlang/priv/gamebattle_port
/erlang/priv/gamebattle_port.exe
/erlang/priv/gamebattle_nif.dll
/erlang/priv/gamebattle_nif.so
/erlang/priv/gamebattle_nif.dylib
*.pdb
*.ilk
